/*#### TRANSICIONES Y ANIMACIONES ####*/

/*Transiciones y animaciones*/
/*
transition: [A qué, cuánto tiempo]
Ejemplo: transition: all 3s;
  Aplicará la transición a todo el CSS y será de 3 segundos de duración

Se puede aplicar la transición a varios elementos y no a todo el CSS
Ejemplo:  transition: border 500ms, background 3s, border-radius 1s;


*/

#boton{
  display: block;
  padding: 20px;
  background-color: green;
  color: white;
  width: 200px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: 5px green solid;
  /*transition: all 3s; *//*Transición de todas las propiedades CSS y que tarde 3 seg*/
  transition: border 500ms, background 3s, border-radius 1s;

}
#boton:hover{
  border-radius: 15px;
  background: orangered;
  border-radius: 5px solid red;
}